<%= form_for(@contest) do |f| %>
  <% if @contest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contest.errors.count, "error") %> prohibited this contest from being saved:</h2>

      <ul>
      <% @contest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :league %><br>
    <%= f.select :league, collection: ['MLB'] %>
  </div>

  <div class="form-group">
    <%= f.label :name, 'Name Your Contest' %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :gameset_id, 'Select Gameset' %>
    <%= f.collection_select(:gameset_id, Gameset.all, :id, :name, { :prompt => true } ) %>
  </div>
  
  <div class="form-group">
    <%= f.label :size, 'How many opponents can enter your contest?' %><br>
    <%= f.number_field :size, class: "form-control form-number" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-success btn-sm" %>
  </div>
<% end %>
