<% if user_signed_in? %>
<ul class="nav nav-tabs">
  <li class="active"><a href="#">All</a></li>
  <li><a href="#">NFL</a></li>
  <li><a href="#">NBA</a></li>
  <li><a href="#">MLB</a></li>
  <li><a href="#">NHL</a></li>
</ul>
  <p>
    <%= link_to "Create New Contest", new_contest_path, class: 'btn btn-warning btn-entry btn-sm' %>
  </p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>League</th>
          <th>Contest Name</th>
          <th>Matchset</th>
          <th>Start Time</th>
          <th>Contest Size</th>
          <th>Users entered</th>
        </tr>
      </thead>
      <tbody>
        <% @contests.each do |contest| %>
        <tr>
          <td><%= contest.league %></td>
          <td><%= link_to contest.name, contest %></td>
          <td><%= link_to contest.gameset.name, gameset_path(contest.gameset_id) %></td>
          <td><%= contest.starttime.advance(:hours => -5).strftime("%a %b %d %I:%M %p EST") %></td>
          <td><%= contest.size %></td>
          <td><%= contest.users.uniq.each.count %></td>
        </tr>
        <% end %>
      </tbody>
  </table>
<% else %>
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to BallerCallers</h1>
    <p class="center">New to BallerCallers? <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary"  %></p>
    <p class="center">Not sure how to play? <%= link_to "Learn here", learn_path, class: "btn btn-primary" %></p>
    <p class="center">Already ballin'? <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary"  %></p>
  </div>
</div>
<% end %>


